<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", 'about' %></li>
      <li><%= link_to "Contact", 'contact' %></li>
      <li><a href="http://usu.edu/">USU</a></li>
      <li><a href="https://aggiemail.usu.edu/">Email</a></li>
    </ul>
  </nav>
</footer>

